<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a  href="/title"> Ссылка на сортировку по title в обратном порядке</a> <br> <br> <br>
Вывод и cортировка по автору ниже
<form action="/author">
    <p><input name="author"></p>
    <p><input type="submit"></p>
</form>
<br>
Добавление нового пользователя
<form action="/add_book">
    <p><input name="title" value="input title"></p>
    <p><input name="author" value="input author"></p>
    <p><input name="description" value="input description"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>